body {
  padding: 0px;
  font-size: 14px;
  line-height: 18px;
}

.loading_overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9000;
  background: #fff url(img/loader.gif) center center no-repeat;
  text-indent: -9000px;
}

#settings {
  margin: 0 auto;
  padding-top: 60px;
  width: 600px;
}

#settings #label label {
  font-size: 21px;
  font-weight: 200;
  line-height: 28px;
}

#settings #label .badge {
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  border-radius: 20px;
}

#upload-a-file {
  /* make the <label> look like a normal link */
  display: inline;
  margin: 0;
  color: #08c;
}

#upload-a-file:hover {
  /* make the <label> look like a normal link:hover */
  color: #005580;
  text-decoration: underline;
}

#settings p {
  margin: 0 0 15px 0;
}

#source-url {
  width: 466px;
}

#source-go, #source-clear {
  width: 110px;
}

#source-clear {
  display: none;
}

#examples,
#error {
  display: none;
}

#message a {
  cursor: pointer;
}

#message .popover {
  max-width: none;
}

#message .popover ul {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

#message .popover li + li {
  margin-top: 3px;
}

#message .popover .label {
  font-size: 11px;
  line-height: 12px;
  margin-left: 3px;
}

#up {
  position: absolute;
  top: -9999px;
}

#error-too-large {
  display: none;
  text-align: center;
  padding-top: 15px; /* room to breathe */
  margin: 25px 0 30px 0;
  font-size: 18px;
  line-height: 24px;
}

#error-too-large p {
  margin-bottom: 10px; /* override #settings p above */
}

#error-too-large p:first-child {
  margin-bottom: 7px; /* because Zarino is a perfectionist */
}

body > .alert {
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 0;
}

.alert pre {
  display: none;
  margin: 10px 0 5px 0;
}

.alert p.actions {
  margin: 4px 0 0 0;
  font-size: 12px;
}

.alert #report_btn {
  margin-right: 5px;
}

.alert #detail_btn {
  cursor: pointer;
  margin-left: 5px;
}
